/* ============================= Main ====================================*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
  margin-bottom: 12%;
  margin-top: 12%;
}

/* Simplified view for mobile and tablet devices */
@media (max-width: 768px) {
  #main-content.simplified-view {
    /* Set the max-width of the main content to 100% of the viewport width */
    max-width: 100%;
    /* Center the main content horizontally */
    margin: 0px auto 0px auto;
    /* Override any existing padding */
    padding-bottom: 8em; /* Adjust as needed */
    /* Set the table layout to fixed to ensure that the table width is not greater than the container width */
    table-layout: fixed;
    /* Set the width of the table cells to a percentage of the table width */
    td,
    th {
      width: 1%;
    }
    /* Set the horizontal scrollbar to appear when the table width exceeds the container width */
    overflow-x: auto;
  }

  #footer-container {
    text-align: center;
  }
}

/* Set the navbar and main content to share the same width */
#navbar-container,
#footer-container,
#main-content {
  width: 100%;
}

.content_lists {
  color: black;
}

h1 {
  margin-bottom: 10px;
}

/* ============================= Image Converter ====================================*/

#output {
  margin-top: 20px;
}

#output a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #337ab7;
}

#output a:hover {
  color: #23527c;
}

.text-centery {
  font-size: 50px !important;
  text-align: center !important;
}

#item-image,
#item-item {
  margin-top: 0px;
  text-align: center;
}

/* =========================== Plugins ======================================*/
#search-bar {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#search-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 200px;
}

#search-button,
#reset-button {
  padding: 8px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

#reset-button {
  background-color: #f44336;
}

#plugin-table {
  width: 100%;
  border-collapse: collapse;
}

#plugin-table th,
#plugin-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#plugin-table th {
  background-color: #f0f0f0;
}

#plugin-table img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
}

#plugin-table a {
  text-decoration: none;
  color: #337ab7;
}

#plugin-table a:hover {
  color: #23527c;
}

/* ============================= Bing Ai ====================================*/

.iframe-container {
  padding-top: 20px;
  width: 100%;
  height: auto; /* Adjust height as needed */
  text-align: center;
  position: fixed; /* Make the container fixed-position */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Position it at the left of the viewport */
  right: 0; /* Stretch it horizontally to cover the entire width */
  bottom: 0; /* Stretch it vertically to cover the entire height */
  margin: auto; /* Center the iframe horizontally within the container */
}

iframe {
  /* Set the width and height of your iframe here */
  display: block;
  width: calc(100vw - 40px); /* Responsive width */
  height: 80vh; /* Adjust height as needed */
  margin: 0 auto; /* Center the iframe horizontally within the container */
}
